@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown スタイル強化 */
.prose h1 {
  font-size: 2em !important;
  font-weight: bold !important;
  margin-top: 0.67em !important;
  margin-bottom: 0.67em !important;
  line-height: 1.2 !important;
}

.prose h2 {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin-top: 0.83em !important;
  margin-bottom: 0.83em !important;
  line-height: 1.3 !important;
}

.prose h3 {
  font-size: 1.25em !important;
  font-weight: bold !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  line-height: 1.4 !important;
}

.prose p {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  line-height: 1.6 !important;
}

.prose ul {
  list-style-type: disc !important;
  padding-left: 2em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.prose li {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.prose strong {
  font-weight: bold !important;
}
